node_modules
.next
.git
.github
.gitignore
*.md
.env*
!.env.example
Dockerfile*
docker-compose*
npm-debug.log*
yarn-error.log*
.DS_Store
coverage
.vercel
*.tsbuildinfo
.next
uploads
public/uploads
